.download-button {
    border: 0.125rem solid #ff556e;
    cursor: pointer;
}

.download-button:hover {
    color: white;
    background-color: #ff556e;
    transition: all 0.2s;
}

.download-button-pink {
    border: 0.125rem solid #ff556e;
    background-color: #ff556e;
    cursor: pointer;
}

.download-button-pink:hover {
    color: #ff556e;
    background-color: white;
    transition: all 0.2s;
}