.text-main,
h1 {
    color: #333333;
}

.text-main:hover {
    color: #ff556e;
}

.text-pink {
    color: #ff556e;
}


.secondary-text {
    color: #797979;
}

.white-circle-right {
    margin-left: 337px;
    margin-top: -57px;
}

.white-circle-left {
    margin-left: -173px;
    margin-top: -186px;

}
.blue-decorative-image {
    margin-left: -173px;
    margin-top: -247px;
}
@media  (min-width: 768px) {
    .white-circle-right {
        margin-left: 666px;
        margin-top: -121px;
        }
    .blue-decorative-image {
        margin-left: 219px;
        margin-top: -277px;
    }
}

@media (min-width: 992px) {
    .white-circle-right {
        margin-left: 890px;
        margin-top: -120px;
        }
}