.text-main,
h1, h2 {
    color: #333333;
}

.text-main:hover {
    color: #ff556e;
}

.text-pink {
    color: #ff556e;
}


.secondary-text {
    color: #797979;
}

.white-circle-right {
    margin-left: 337px;
    margin-top: -57px;
}

.white-circle-left {
    margin-left: -173px;
    margin-top: -186px;

}
.blue-decorative-image {
    margin-left: -173px;
    margin-top: -247px;
}
@media  (min-width: 768px) {
    .white-circle-right {
        margin-left: 666px;
        margin-top: -121px;
        }
    .blue-decorative-image {
        margin-left: 219px;
        margin-top: -277px;
    }
}

@media (min-width: 992px) {
    .white-circle-right {
        margin-left: 890px;
        margin-top: -120px;
        }
}

@media (min-width: 1100px) {
    .white-circle-right {
    margin-left: 1031px;
    margin-top: -188px;
    }
}

@media (min-width: 1200px) {
    .white-circle-right {
    margin-left: 1102px;
    margin-top: -161px;
    }
}

@media (min-width: 1400px) {
    .white-circle-right {
    margin-left: 1224px;
    margin-top: -104px;
    }

    .navbar-container {
    display: flex;
    width: auto;
    margin: 0px 5%;
    }
}