.identify-goals-bg {
    background-color: #eae7f9;
}

.identify-goals-icon {
    color: #a97eeb;
}

.situation-analysis-bg {
    background-color: #daf4ef;
}

.situation-analysis-icon {
    color: #16ca94;
}