.identify-goals-bg {
    background-color: #eae7f9;
}

.identify-goals-icon {
    color: #a97eeb;
}

.situation-analysis-bg {
    background-color: #daf4ef;
}

.situation-analysis-icon {
    color: #16ca94;
}

.tasks-settings-bg {
    background-color: #f8e5ea;
}

.tasks-settings-icon {
    color: #ff556e;
}

.social-interaction-bg {
    background-color: #f8f1de;
}

.social-interaction-icon {
    color: #ffb310;
}

.get-things-done-bg {
    background-color: #e1f1fa;
}

.get-things-done-icon {
    color: #50b9e7;
}