body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7fafd;
}

.bg-color {
        background-color: #f7fafd;
}

.text-main {
    color: #333333;
}

.text-main:hover {
    color: #ff556e;
}

.text-pink {
    color: #ff556e;
}
.pink-button {
    border: 0.125rem solid #ff556e;
    cursor: pointer;

}

.pink-button:hover {
    color: white;
    background-color: #ff556e;
    transition: all 0.2s;
}